* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Task component */
.task-content:last-child {
    margin-bottom: 0 !important;
}

.hero-title {
    font-size: 6.5vh;
    font-weight: 500;
}

.hero-subtitle {
    font-size: 3.5vh;
}

/* Task List */
.loader {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    border-top: 0.25rem solid rgba(255, 255, 255, 1);
    border-left: 0.25rem solid rgba(255, 255, 255, 1);
    border-right: 0.25rem solid rgba(255, 255, 255, 0);

    animation: spin 1s infinite linear;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}